<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <div class="product_grid">
      <% @products.each do |product| %>
        <section class="product">
          <div><%= product.name %></div>
          <div><%= product.stock %></div>
          <div><%= product.price %></div>
          <div><%= button_to 'Add to cart', carts_path, method: :post, params: { id: product.id } %></div>
          <div><%= link_to 'More details', product %></div>
        </section>

      <% end %>
  </div>
</table>
<br>
<%= link_to 'View cart', carts_path %>

<br>
<% if current_user.is_admin %>
  <%= link_to 'New Product', new_product_path %>
<% else %>

<% end %>
